# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
dbt-core==1.9.1
dbt-postgres==1.9.1
astronomer-cosmos
